*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

.fix-me{
	position:fixed;
	top:400px;
}

body{
    background-image: url('./background.jpg');
    background-size: cover;
}

main{
    height: calc(100vh - 70px);
    display: flex;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#san--fran{
    display:flex; flex-direction:column; justify-content:center;
    min-height:100vh;
    text-align: center;
    background-image: url('./san--fran.jpg');
    background-size: cover;
}

#miami{
    display:flex; flex-direction:column; justify-content:center;
    min-height:100vh;
    text-align: center;
    background-image: url('./miami.jpg');
    background-size: cover;
}

#venice{
    display:flex; flex-direction:column; justify-content:center;
    min-height:100vh;
    text-align: center;
    background-image: url('./venice.jpg');
    background-size: cover;
}

.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    background-color: red;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
      display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: rgb(221, 255, 0);
    background-color: #00A4BD;
  }


a{
    color: black;
    font-size: 24px;
    font-weight:700;
}


h1{
    font-weight: 700;
    font-size:60px;
    color: black;
    text-align: center;
}

ul#episodes {
    float: left;
    margin:  0 10px;
    padding: 0;
    width: 35%;
  }

  ul#episodes > li {
    list-style-type: none;
  }

  button {
    border-radius:  7px;
    border: 0;
    background: #191414;
    color: #fff;
    padding:  10px;
    margin:  0 0 3px 0;
    width: 100%;
    cursor: pointer;
  }

  button:hover {
    background: #1Db954;
  }

  nav{
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    height: 100px;
    flex-direction: row-reverse;
}


footer{
    width: 100%;
    text-align: center;
}
   
